@charset "utf-8";
/* 基本レイアウト ここから↓ */
@import url(common.css);
a {text-decoration: none;
   color: black;
}
a:hover { color: gray;
   }
   .link_line:hover {
      color: black;
text-decoration: underline;
   }
#sidenavi a:hover {color: black;
text-decoration: underline;
}
footer a:hover {
   color: black;
text-decoration: underline;
}

/*a:visited {
  color:silver;
}*/
#wrap {
width:960px;
margin:0px auto;
}
ul {
  list-style: none;
}
img #page-name {
   width: 800px;
   height:148px;
 text-align:center;
}
header ul {
  text-align: right;
}
header li {
   display: inline-block;
}

 #sns-box img {
   width: 30px;
height: 30px;
 }
#sidenavi {

float:left;
width:198px;
height:auto;
margin:10px 10px 10px 0px;
}

#contents {
float:left;
height:auto;
margin:10px 0px 10px 0px;
}
footer{
   clear: both;
   width: 940px;
   /*padding: 90px 15px 70px;*/
   height:180px;
   margin: 0 auto;
   position: relative;
   line-height: 120%;
}
.news_topics {
   display: inline-block;
}
.live_topics {
   display: inline-block;
}
/* .news_title{
       width: 545px;

}*/

#footer-sitename {
 float: left;
}
#footer-menu  {
   float: left;
}
#footer-sns-menu {
    float: left;
}
#footer-snv {
   text-align: right;
}
#footer-snv li {
    display: inline-block;

}*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
}

